@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* This will customize the vertical scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #71706f;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #df5c43;
}

.singleTask:hover .singleTaskTitle {
  color: #df5c43;
}

.notfound {
  background-image: url(./assets/images/notfound.png);
}

.profile_imagContainer:hover .selectImage {
  top: 0;
}

.modal {
  transition: width 0.3s ease-in-out, width 0.3s ease-in-out;
}

.slick-prev:before,
.slick-next:before {
  font-size: 28px !important;
  color: #252728 !important;
}

.slick-center {
  background: #ffff;
}
